@import "../../global/scss/variables";
@import "../../global/scss/mixins";

/* Footer */
footer {
  color: $white;
  background: black;
  @extend .heading-recharged;
  text-align: center;

  a {
    color: $brand-primary;
    font-weight: bold;
  }

  a:hover,
  a:active,
  a:focus {
    color: $white;
    text-decoration: none;
  }

}
