@import "../../global/scss/variables";
@import "../../global/scss/mixins";

/* Footer */
.signup {
  height: 90vh;
  color: $white;
  background: black;
  @extend .heading-recharged;

  img {
    width: 45vw;
  }

  form {

    // margin: 0 auto;
    // width: 81vw;
    // label {
    //   font-size: 36px;
    //   color: $white;
    // }
    top: 45%;
    input {

      // border-radius: 45px !important;
      background-color: $black !important;
      border-bottom-left-radius: 45px !important;
      border-top-left-radius: 45px !important;

      // width: 45vw;
      border-color: transparent !important;
    }

    input:focus {
      color: $white !important;
      border-color: $orange !important;
    }

    button {

      // background-color: black !important;
      border-bottom-left-radius: 4.5px !important;
      border-top-left-radius: 4.5px !important;
      width: 100% !important;
    }

    .no-pan-btn {
      padding-left: 0 !important;
    }

    .no-pan-inp {
      padding-right: 4.5px !important;
    }
  }

  .call {
    color: $white;
    font-weight: bolder;
    font-size: 45px;
  }

  .cpr {
    color: white;
  }

  .btn-lg,
  .btn-group-lg > .btn {
    border-radius: 100px;
  }
}
