@font-face {
  font-family: 'SCP';
  src: url(fonts/poireto/PoiretOne-Regular.ttf);
}
@font-face {
  font-family: 'Hussar';
  src: url(fonts/hussar/hussarbd-web.ttf);
}
@font-face {
  font-family: 'Recharge';
  src: url(fonts/recharge/recharge-bd.ttf);
}
@mixin placeholder-color {
   ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $light-gray;
  }
   :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $light-gray;
    opacity: 1;
  }
   ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $light-gray;
    opacity: 1;
  }
   :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $light-gray;
  }
}
.heading-font {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.body-font {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading-recharged {
  font-family: 'Recharge';
  src: url(fonts/recharge/recharge-bd.ttf);
  // text-transform: lowercase;
  // text-transform: uppercase;
}

.content-recharged {
  font-family: 'Recharge';
  src: url(fonts/recharge/recharge-bd.ttf);
  // text-transform: lowercase;
  // text-transform: uppercase;
}


// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//      -moz-border-radius: $radius;
//       -ms-border-radius: $radius;
//           border-radius: $radius;
// }
// .box {
//   @include border-radius(10px);
// }
