// All the Global Variables Reside here
$black: #292929;
$orange: #ffd966;
$white: #ffffff;
$light-gray: #e5e5e5;

$brand-primary: #fed136;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$color-alpha: #1abc9c;
$color-beta: #9b59b6;
$color-gamma: #3498db;


// colors

$color-1: #0f222b; // Firefly
$color-2: #95ac5f; // Chelsea Cucumber
$color-3: #ffffff; // White
$color-4: #df4f71; // Cranberry

// fonts

$primary-font: 'Open Sans', sans-serif;


// animation

$animation-duration: .8s;
$animation-delay: .2s;
