@import "../../global/scss/variables";
@import "../../global/scss/mixins";
@import url(fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);



.payment {
  [class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease;
  }
  html,
  body {
    min-height: 100%;
    font-size: 16px;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  .wrapper {
    position: absolute;
    width: 100%;
    max-width: 940px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: space-between;
    .box {
      border: 1px solid #000;
      width: 30%;
      text-align: center;
      padding: 1em;
      display: block;
      position: relative;
      h1 {
        font-weight: 300;
      }
      [class*="fontawesome-"] {
        font-size: 3em;
        margin: 1rem 0 1.5rem;
        color: #555;
      }
      p {
        color: #737373;
        margin-bottom: 3em;
        strong {
          color: #555;
        }
      }
      .btn {
        color: #fff;
        font-size: 1.25em;
        padding: 0.5em 1em;
        display: inline-block;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #aaa;
        transition: all 0.3s ease;
        opacity: 0;
      }
      &:hover {
        transform: translateY(-2em);
        &:after {
          width: 75%;
          transform: translateY(2em);
          opacity: 1;
          background-color: #eee;
        }
      }
      &:nth-of-type(1) {
        border-color: $color-alpha;
        h1 {
          color: $color-alpha;
        }
        .btn {
          background-color: $color-alpha;
        }
        &:hover {
          background-color: rgba($color-alpha, 0.25);
          .btn {
            background-color: darken($color-alpha, 10%);
          }
        }
      }
      &:nth-of-type(2) {
        border-color: $color-beta;
        h1 {
          color: $color-beta;
        }
        .btn {
          background-color: $color-beta;
        }
        &:hover {
          background-color: rgba($color-beta, 0.25);
          .btn {
            background-color: darken($color-beta, 10%);
          }
        }
      }
      &:nth-of-type(3) {
        border-color: $color-gamma;
        h1 {
          color: $color-gamma;
        }
        .btn {
          background-color: $color-gamma;
        }
        &:hover {
          background-color: rgba($color-gamma, 0.25);
          .btn {
            background-color: darken($color-gamma, 10%);
          }
        }
      }
    }
  }
}
